*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Eclipse
.project
.pydevproject
.settings

# Mr Developer
.mr.developer.cfg

# Ninja IDE
*.nja

# PyCharm
.idea
cover

# Ninja IDE
*.nja

# Sphinx
docs/_build

# Vim
*.swp

*.ropeproject

# Django migrations
# Ignored during early development to prevent accidental commits;
# we'll want these to not be ignored when releasing pulp 3.0
pulp_rpm/app/migrations
