git+https://github.com/pulp/pulp-smash.git@8148c5d586f459397ce9e8e084697c56963b6261
productmd>=1.25
pytest
dictdiffer
xmltodict
django  # TODO: test_sync.py has a dependency on date parsing functions
