dictdiffer
django  # TODO: test_sync.py has a dependency on date parsing functions
lxml
productmd>=1.25
pydantic
pyyaml
pytest<8
pytest-xdist
pytest-timeout
pytest-custom_exit_code
pyzstd
requests
xmltodict