include CHANGES.md
include COMMITMENT
include COPYRIGHT
include coverage.md
include functest_requirements.txt
include LICENSE
include pulp_rpm/app/schema/*
include pulp_rpm/tests/functional/sign-metadata.sh
include pulp_rpm/tests/sample-rpm-0-0.x86_64.rpm
include pyproject.toml
include test_requirements.txt
include unittest_requirements.txt
exclude releasing.md
