include CHANGES.md
include COMMITMENT
include COPYRIGHT
include LICENSE
include pyproject.toml
include test_requirements.txt
include unittest_requirements.txt
include functest_requirements.txt
include pulp_rpm/app/schema/*
include pulp_rpm/tests/functional/sign-metadata.sh
exclude coverage.md
exclude releasing.md
exclude AGENTS.md
exclude CLAUDE.md
exclude .gitleaks.toml
exclude Makefile
